.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: auto; 
  width: 100%; 
  height: 100%; 
  top: 0; 
  left: 0;
  background-color:  rgba(0, 0, 0, 0.8); 
  color: #ffffff;
  z-index: 999; 
  cursor: pointer;
}

.content {
      background: rgba(0, 0, 0, 0.8);
      border-radius: 0.25rem;
      width: 80%;
      height: min-content;
      position: relative;
      padding: 1rem 3rem 3rem 1rem;
}

.small-button {
  background-color: #000000;
  color: #ffffff;
  padding: 0.2rem;
}