main {
  height: 100%;
  display: flex;
}

.button-wrapper {
  border:none; 
  border-radius: 25px;
  padding: 40px;
  background-color: var(--primary-color);
  color:var(--secondary-color);
  font-size: 40px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 1) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.beforeFetch{
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}